{% if site.social.links %}
  <div class="social-links">
    {% for link in site.social.links %}
      {% if link contains 'github.com' %}
        <a href="{{ link }}" target="_blank"><i class="fab fa-github"></i></a>
      {% elsif link contains 'linkedin.com' %}
        <a href="{{ link }}" target="_blank"><i class="fab fa-linkedin"></i></a>
      {% elsif link contains 'facebook.com' or link contains 'fb.me' %}
        <a href="{{ link }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
      {% elsif link contains 'x.com' or link contains 'twitter.com' %}
        <a href="{{ link }}" target="_blank"><i class="fab fa-x-twitter"></i></a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}